@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: white;
  background: #2f2f2f;
    
}


.text-helvetica {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-weight: bolder;
}