html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif, 'Oswald';
	background: #1e1e2f;
	color: white;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* 
paleta de colores usada:
#1e1e1e
#1e1e2f
#2e2e3f
#145c80
#1f9cd6
#20dbd8
 */


@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400&display=swap');




/* Aquí comienza la diversión */

.container-index {
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	scroll-snap-type: mandatory;
	scroll-snap-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

p {
	text-align: justify;
	hyphens: auto;
	font-size: 1.5em;
}

@media (max-width:992px) {
	p {
		text-align: center;
	}
}

h4 {
	font-size: 1.5em;
	margin: 10px 0;
}

section {
	padding-left: 160px;
	padding-right: 160px;
	width: 100%;
	display: flex;
	flex-direction: column;
	padding-top: 100px;
	padding-bottom: 100px;
}

h2 {
	font-size: 3em;
	font-family: 'Oswald', sans-serif;
	text-align: center;
	color: white;
}

h3 {
	font-size: 2.6em;
}

section h2::after {
	content: "";
	display: block;
	width: 90px;
	height: 3px;
	background: #1f9cd6;
	margin: 0 auto;
	margin-bottom: 50px;
}

@media (max-width:992px) {
	section {
		padding-left: 10px;
		padding-right: 10px;
		width: 100%;
		display: flex;
		justify-content: center;
		padding-top: 80px;
		padding-bottom: 80px;
	}

	h2 {
		font-size: 3em;
		font-family: 'Oswald', sans-serif;
		text-align: center;
	}

	h3 {
		font-size: 2.1em;
		text-align: center;
		margin-top:20px;
	}
}


#portada {
	height: 100vh;
	align-items: center;
	justify-content: center;
	background: linear-gradient(180deg, #000 0%, #1e1e2f 70%, #2e2e3f55 90%, #145c80 100%);
}


#portada div {
	width: 100%;
	max-width: 1100px;

}


.index-title {
	font-size: 5em;
	font-family: 'Oswald', sans-serif;
	text-align: left;
	transition: 500ms;
	user-select: none;
	/* animation: diving 2s ease-in-out infinite, diving-rotate 3s ease-in-out infinite; */
}



.index-title span {
	color: #1f9cd6;
	transition: color 500ms;
}

.index-subtitle {
	user-select: none;
}

@media (max-width:992px) {
	.index-title {
		text-align: center;
		font-size: 3em;
	}

	.index-subtitle {
		text-align: center;
	}
}


.index-title:hover {
	transition: 500ms;
	color: #1f9cd6;
}

.index-title:hover span {
	color: white;
	transition: color 500ms;
}

@media (min-width:992px) {
	.index-title:hover {
		transition: 500ms;
		color: #1f9cd6;
	}

}


.container-text {
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.container-content {
	width: 100%;
	max-width: 900px;
	margin: 0 auto;
	padding: 10px;
}


.img-circle {
	width: 80%;
	margin: 0 auto;
}

.img-circle img {
	clip-path: circle(43% at 50% 50%);
	width: 100%;

}






/* * Sección de skills */

.dialog-fullscreen {
	background: #2e2e3f;
	width: 100%;
	padding: 20px;

}

@media (max-width: 480px) {
	.dialog-fullscreen {
		padding-top: 80px;
	}
}

.btn-dialog-container {
	position: fixed;
	top: 30px;
	left: 30px;
}

.skill-section {
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
	color:white;
}

.skill-color-0 {
	background: rgba(135, 140, 199, 0.1)
}

.skill-color-1 {
	background: rgba(135, 140, 199, 0.15)
}

.skill-img-container {
	max-width: 100%;
	max-height: 200px;
	padding:20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.skill-img {
	max-width: 50px;
	max-height: 50px;
	margin: 0 auto;
}






/* * Sección de portafolios */
#portfolio {
	background:rgba(135, 140, 199, 0.1);
}