/* 
Paleta de color:

#2a2a2a
#4fa8fb
 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: linear-gradient(180deg, #2a2a2a 90%, #1d1d1d 100%);
    background-attachment: fixed;
    color: #cbcbcb;
}

a {
    text-decoration: none;
    color: inherit;
    transition: all 0.2s;
}

h1 {
    font-family: Oswald;
    font-size: 2em;
}

a:hover {
    color: #bbb;
    transition: all 0.2s;
}

.centered {
    padding: 15px;
    padding-top: 140px;
    max-width: 900px;
    margin: 0 auto;
    overflow: auto;
}

@media (max-width:600px) {
    .centered {
        padding-top: 50px;
    }
}










/*
* ----------------------------------------
* Animated button at the sides of the page
* ----------------------------------------
*/

.animated-button-container {
    height: 100vh;
    width: 100px;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons-pair-sm-container {
    display: none;
}

@media (max-width:1000px) {
    .animated-button-container {
        display: none;
    }

    .buttons-pair-sm-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: sticky;
        bottom: 0;
        left: 0;
        height: 50px;
        width: 100%;
        background: #2a2a2a;
    }
}

.left {
    left: 0;
}

.right {
    right: 0;
}

.button-animated {
    width: 50px;
    height: 200px;
    font-size: 4em;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    overflow: hidden;
    border-radius: 100px;
    text-decoration: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-animated .button-animated-text {
    transition: all 0.2s;
}

.button-animated:hover .button-animated-text {
    transition: all 0.2s;
    font-size: 0;
}

.button-animated .button-animated-hover {
    transition: all 0.2s;
    transform: rotate(0deg);
    font-size: 0;
}

.button-animated:hover .button-animated-hover {
    transition: all 0.2s;
    font-size: 0.4em;
}

.ba-right:hover .button-animated-hover {
    transition: all 0.2s;
    transform: rotate(90deg);
}

.ba-left:hover .button-animated-hover {
    transition: all 0.2s;
    transform: rotate(-90deg);
}

.button-animated::after {
    background: white;
    content: "";
    width: 400px;
    height: 52px;
    position: absolute;
    top: -60px;
    left: -50px;
    transform: rotate(30deg);
    opacity: 0.2;
    transition: all 0.2s;
}

.button-animated:hover::after {
    top: 110%;
    transition: all 0.2s;
}

.fixed-right {
    position: absolute;
    right: 10px;
}

.fixed-left {
    position: absolute;
    left: 10px;
}

@media (max-width:1000px) {

    .button-animated {
        height: 50px;
    }

    .button-animated:hover .button-animated-hover {
        font-size: 0px;
    }

    .button-animated:hover .button-animated-text {
        font-size: 1.4em;
    }

    .button-animated:hover::after {
        top: 230%;
    }
}









/*
* --------------
* Chip component
* --------------
*/

.chip {
    background: #00000044;
    border-radius: 5px;
    width: fit-content;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    margin-bottom: 5px;
}

.chip p {
    text-transform: uppercase;
    user-select: none;
    font-size: 0.8em;
}