.index-menu {
    display:none;
}

@media (max-width: 992px) {

    .index-menu {
        position: fixed;
        bottom: 0;
        display: flex;
        z-index:10;
    }

    .index-menu-item {
        background: none;
        border: none;
        padding: 10px;
        max-width: 70px;
        cursor: pointer;
        transition: 300ms;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    }

    .index-menu-item:hover {
        background: #335;
        transition: 300ms;
    }

    .index-menu-item img {
        width: 50px;
        transition: 300ms;
    }

    .index-menu-item:hover img {
        margin-bottom: 2px;
        transition: 300ms;
    }

    .index-menu-item p {
        display: none;
        line-height: 80%;
        font-size: 9px;
        text-align: center;
        color: white;
        margin-bottom: 0;
    }

    .index-menu-item:hover p {
        display: block;
        transition: 300ms;


    }

}