#portada {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#portada h1, #portada p {
    text-align: center;
    font-size: 1.1em;
}

#portada h1 {
    font-size: 1.4em;
}



#portada-footer {
    background: linear-gradient(180deg, #2a2a2a 0%, #1d1d1d 100%);
    width: 100%;
    height: 10vh;
    position: absolute;
    bottom: 0;
}


@media (min-width:600px) {
    #portada {
        height: 100vh;
    }

    #portada h1, h2, h4, p {
        font-size: 1.2;
    }
}


.chips {
    display: flex;
    margin-top: 10px;
}

p {
    text-align: left;
}





.portfolio-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 15px;
}

.portfolio-card {
    margin: 8px;
    width: 100%;
    max-width: 400px;
    height: 180px;
    background: #777;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    top: 0px;
    transition: all 0.2s;
}

.portfolio-card-hover-content {
    transition: all 0.2s;
    background: #222;
    display: flex;
    align-items: center;
    height: 95%;
    justify-content: center;
    position: relative;
    top: 0;
    text-transform: uppercase;
}

.portfolio-card:hover .portfolio-card-hover-content {
    position: relative;
    top: -100%;
    transition: all 0.2s;
}

@media (min-width:480px) {
    .portfolio-card {
        height: 250px;
    }
}

.portfolio-card-title {
    background: linear-gradient(180deg, #777 0%, #333 100%);
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dots-container {
    width: fit-content;
    display: flex;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 3px;
    background: #2a2a2a;
}

.dot-red {
    background: linear-gradient(180deg, #d44 0%, #a22 100%);
}

.dot-orange {
    background: linear-gradient(180deg, #d84 0%, #d54 100%);
}

.dot-green {
    background: linear-gradient(180deg, #4d4 0%, #2a2 100%);
}

.portfolio-title {
    text-align: right;
    text-transform: uppercase;
    font-size: 0.7em;
    margin-right: 10px;
}

.portfolio-img-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.portfolio-img-container img {
    object-fit: cover;
}