#portada {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
}

#portada h1, #portada p {
    text-align: center;
    font-size: 1.1em;
}




@media (max-width:600px) {
    #portada {
        height: 100vh;
    }

    #portada h1, h2, h4, p {
        font-size: 1.3;
    }
}


.chips {
    display: flex;
    margin-top: 10px;
}

p {
    text-align: left;
}





.portfolio-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 15px;
}

.portfolio-card {
    margin: 8px;
    width: 100%;
    max-width: 400px;
    height: 180px;
    background: #777;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    top: 0px;
    transition: all 0.2s;
    box-shadow: 2px 2px 10px #000;
}

.portfolio-card::after {
    content: "";
    width: 90px;
    height: 500px;
    position: absolute;
    background: #ffffff44;
    transform: rotate(30deg);
    top: -120px;
    left: -200px;
    transition: all 0.4s;
}

.portfolio-card:hover::after {
    left: 95%;
    transition: all 0.4s;
}

.portfolio-card-hover-content {
    transition: all 0.2s;
    background: #222;
    display: flex;
    align-items: center;
    height: 95%;
    justify-content: center;
    position: relative;
    top: 0;
    text-transform: uppercase;
}

.portfolio-card:hover .portfolio-card-hover-content {
    position: relative;
    top: -100%;
    transition: all 0.2s;
}

@media (min-width:480px) {
    .portfolio-card {
        height: 250px;
    }
}

.portfolio-card-title {
    background: linear-gradient(180deg, #444 0%, #333 100%);
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dots-container {
    width: fit-content;
    display: flex;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 3px;
    background: #2a2a2a;
}

.dot-red {
    background: linear-gradient(180deg, #d44 0%, #a22 100%);
}

.dot-orange {
    background: linear-gradient(180deg, #d84 0%, #d54 100%);
}

.dot-green {
    background: linear-gradient(180deg, #4d4 0%, #2a2 100%);
}

.portfolio-title {
    text-align: right;
    text-transform: uppercase;
    font-size: 0.7em;
    margin-right: 10px;
}

.portfolio-img-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.portfolio-img-container img {
    object-fit: cover;
}









.centered-portfolio {
    padding: 15px;
    padding-top: 100px;
    max-width: 900px;
    margin: 0 auto;
    overflow: auto;
}

.portfolio-markdown p {
    font-size: 1.2em;
    margin: 1.5em 0;
}

.cover-img-container {
    margin: 50px auto;
    width: 100%;
    height: 350px;
    position: relative;
}

@media (max-width:600px){
    .cover-img-container {
        height: 200px;
    }
}

.cover-img-container img {
    object-fit: contain;
}


.chips-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}








/* 
* --------------
* Social Buttons
* --------------
 */


.contact-social-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 100px auto;
    width: 100%;
}


.contact-social-buttons a button {
    border: none;
    max-width: 400px;
    margin: 15px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: white;
    overflow: hidden;
    cursor: pointer;
    width:250px;
}

.contact-social-buttons a button::before {
    content: "";
    width: 40px;
    height: 200px;
    position:absolute;
    top: -30px;
    left:-90px;
    transform: rotate(30deg);
    background:#ffffff44;
    transition: all 0.4s;
}

.contact-social-buttons a button:hover::before {
    left: 80%;
}

.contact-social-buttons a button::after {
    content: "";
    width: 100%;
    height: 0px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #00000044;
    transition: all 0.4s;
}

.contact-social-buttons a button:hover::after {
    height: 5px;
}

.contact-social-buttons a button span {
    text-transform: uppercase;
}

.social-button-image {
    width: 22px;
    height: 22px;
    position: relative;
    margin-right: 8px;
}

.social-button-image img {
    object-fit: contain;
}